.button {
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease 0s, left 0.5s ease 0s,
    color 0.5s ease 0s, left 0.5s ease 0s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.first-primary,
.first-secondary,
.first-alternative {
  padding-top: 28px;
  height: 72px;
  border-radius: 20px;
  font-size: 36px;
  width: 430px;
}
.first-primary {
  background-color: var(--first);
  color: var(--light);
}
.first-primary:hover {
  background-color: var(--first-lightest);
  color: var(--first-dark);
}
.first-secondary {
  background-color: var(--second);
  color: var(--second-lightest);
}
.first-secondary:hover {
  background-color: var(--second-dark);
}
.first-alternative {
  background-color: var(--alternative1);
  color: var(--light);
}
.first-alternative:hover {
  background-color: var(--dark);
}
.second-primary,
.second-secondary,
.second-alternative {
  height: 44px;
  width: 150px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
}
.second-primary {
  background-color: var(--first);
  color: var(--light);
}
.second-secondary {
  background-color: var(--second);
  color: var(--second-lightest);
}
.second-alternative {
  background-color: var(--alternative1);
  color: var(--light);
}
@media (max-width: 414px) {
  .first-primary,
  .first-secondary,
  .first-alternative {
    padding-top: 19px;
    height: 41px;
    padding: auto;
    font-size: 18px;
    width: 60%;
  }
}
