.projectcard {
  width: 666px;
  display: grid;
  grid-template-rows: 300px auto auto;
  background-color: var(--third-darkest);
}
.projectcard-image {
  height: 300px;
  background-color: var(--third);
  overflow: hidden;
}
.projectcard-image img {
  width: 666px;
}
.projectcard-description,
.projectcard-skills {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.projectcard-description {
  align-items: center;
  text-align: center;
  gap: 16px;
  margin: 16px auto;
  color: var(--light);
}
.projectcard-skills {
  gap: 40px;
  margin: 0 auto 28px;
}
@media (max-width: 414px) {
  .projectcard {
    grid-template-rows: 150px auto auto;
  }
  .projectcard,
  .projectcard-image img {
    width: 335px;
  }
  .projectcard-image {
    height: 150px;
  }
}
