.rolecard {
  display: grid;
  grid-template-columns: 150px 1fr;
  width: 401px;
  padding: 24px 18px;
  border-radius: 30px;
  background-color: var(--third);
  color: var(--white);
}
.rolecard-image {
  height: 150px;
  width: 150px;
  background-color: var(--third-darkest);
}
.rolecard-image img {
  height: 150px;
}
.rolecard-description > * {
  margin: 0 20px 8px;
}
@media (max-width: 375px) {
  .rolecard {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    justify-items: center;
  }
  .rolecard-description > h5 {
    margin: 8px 16px;
    text-align: center;
  }
}
