.rolecard {
  display: grid;
  grid-template-columns: 150px 1fr;
  width: 470px;
  padding: 24px 18px;
  border-radius: 30px;
  background-color: var(--third);
  color: var(--white);
  align-items: center;
}
.rolecard-image {
  height: 150px;
  width: 150px;
  background-color: var(--third-darkest);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.rolecard-image img {
  height: 100px;
}
.rolecard-description > * {
  margin: 0 20px 8px;
  white-space: pre-line;
  vertical-align: bottom;
}
@media (max-width: 414px) {
  .rolecard {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    justify-items: center;
  }
  .rolecard-description > h5 {
    margin: 8px 16px;
    text-align: center;
  }
  .rolecard-image {
    height: 130px;
    width: 130px;
  }
  .rolecard-image img {
    height: 80px;
  }
}
