.skill-container-big {
  display: flex;
  width: 150px;
  align-items: center;
  flex-direction: column;
}
.skill-icon-big {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: var(--alternative2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-icon-image-big {
  height: 70px;
}
.skill-name-big {
  margin: 0;
  color: var(--dark);
}

.skill-container-small {
  display: flex;
  width: 60px;
  align-items: center;
  flex-direction: column;
}
.skill-icon-small {
  width: 60px;
  height: 60px;
  background-color: var(--alternative1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-icon-image-small {
  height: 40px;
}
.skill-name-small {
  margin: 0;
  color: var(--light);
}
