@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
:root {
  --first: #e61530;
  --first-dark: #85101f;
  --first-light: #ea919d;
  --first-lightest: #e4cacd;

  --second: #f2a541;
  --second-dark: #6a491d;
  --second-light: #f0d6b5;
  --second-lightest: #f3ece3;

  --alternative1: #16bac5;
  --alternative2: #45050c;

  --light: #ffffff;
  --dark: #24243a;
}
